#header, #about, #projects, #contact, #footer{
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.card .img {
    max-height: 100%;
    max-width: 100%;
}

.heading {
    color:#00BCD4;
    padding-bottom: 1em;
    font-weight: 100;
}


/* Header Typewriter effect */
.typewriter h1 {
  font-family: Roboto, sans-serif;
  font-weight: 100; 
  font-size: 3em;
  color: white;
  overflow: hidden;
  border-right: 2px solid lightgray; 
  white-space: nowrap; 
  margin: auto;
  animation: 
    typing 3s steps(30),
    blink-caret 1s infinite;
}

@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: lightgray; }
}

/* Header */
#header {
    background: #333;
    text-align: center;
    justify-content: center;
    padding: 15em 0;
    display: flex;
}

.enter{
    padding-top: 5rem;
}

.fa-angle-double-down{
    font-size: 3rem;
    color: #00BCD4;
}

/* About */
#about{
    text-align: left;
    padding: 2em 0;
}

.aboutText {
    font-size: 1.2em;
}

/* Projects */
#projects{
    text-align: left;
    padding: 2em 0;
}

#projects img {
    height: 180px;
    width: 100%;
    transition: 1s;
}

#projects img:hover {
    transform: scale(1.2);
    transition: 1s;
}

/* Contact */
#contact {
    padding: 2em 0;
    text-align: left;
}

.submit-btn:hover {
    color: #00BCD4 !important;
    border-color: #00BCD4 !important;
    background: none !important;
}

.contactme {
    text-decoration: none;
    color:  #00BCD4;
    transition: .4s;
}

.contactme:hover {
    text-decoration: none;
    color: #333;
    transition: .4s;
}
/* Footer */
#footer {
    color: #888;
    background: #333;
    font-weight: 300;
}

#footer p{
    margin-top: 1rem;
    float: left;
}


.social-links {
    list-style: none;
    float: right;
    margin-top: .5em;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 25px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
}

.fa-instagram:hover {
    color: #bc2a8d;
}

.fa-github:hover {
    color: #4078c0;
}

.fa-envelope:hover {
    color: #c71610;
}

.fa-linkedin:hover {
    color: #0077b5;
}